<h2>Create a celeb</h2>
<form action="/celebs/create" method="post">
    <label for="">Name: <input name="name" type="text"></label>
    <label for="">Occupation: <input name="occupation" type="text"></label>
    <label for="">Catch-Phrase:<input name="catchPhrase" type="text"></label>
    <button type="submit">Save your celeb!</button>
</form>