<h1><%= title %></h1>
<p>Welcome to <%= title %></p>
<a href="celebs/create">Create a celebrity</a>
<a href="celebs">View all the celebrities</a>
<a href="movies/create">Create a movie</a>
<a href="movies">View all movies</a>
